<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>788592288416-j0gding1n1lh9sh4kcopnqpglf4cq1hd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.788592288416-j0gding1n1lh9sh4kcopnqpglf4cq1hd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>788592288416-j9ua4brcqq58s9f2rrhh9kml17cfrlti.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDPDSBfXxILSOIhVaxOZTYZjotUCQanXDs</string>
	<key>GCM_SENDER_ID</key>
	<string>788592288416</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ladder</string>
	<key>PROJECT_ID</key>
	<string>ad450-assessment-todo</string>
	<key>STORAGE_BUCKET</key>
	<string>ad450-assessment-todo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:788592288416:ios:e579a52f5e085a4e951fc5</string>
</dict>
</plist>